[submodule "lib/twitter_oauth"]
	path = lib/twitter_oauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "includes/twitteroauth"]
	path = includes/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "includes/CMB2"]
	path = includes/CMB2
	url = https://github.com/WebDevStudios/CMB2.git
